<section class="invoice-list-container">

    <sidebar></sidebar>

    <div class="content">
        <header class="header">
            <div class="invoice-status">
                <h3>Invoices</h3>
                @if( filterableInvoicesArray.length === 0 ) {
                    <p>No invoices</p>
                }
                @else {
                    <p>There are {{ filterableInvoicesArray.length }} total invoices</p>
                }
            </div>

            <article class="select-options-article">
                <div class="select-options">
                    <select class="select-box" [(ngModel)]="listFilter" (ngModelChange)="handleFiltering($event)">
                        <option value="0">Filter by status</option>
                        <option value="1">Draft</option>
                        <option value="2">Pending</option>
                        <option value="3">Paid</option>
                    </select>
                </div>

                <div class="new-invoice-button" (click)="navigateToNewInvoice()">
                    <div class="btn-icon-plus-div">
                        <img src="../../../assets/icon-plus.svg" alt="icon-plus" class="btn-icon-plus">
                    </div>
                    <h4 class="invoice-title">Invoice</h4>
                </div>
            </article>
        </header>


        <div class="display-invoices">
            @if( filterableInvoicesArray.length > 0 ) {
                @for( invoice of filterableInvoicesArray; track invoice.id ) {
                        <div class="invoice-card">
                            <h4 class="invoice-id"><span class="invoice-item-id">#</span>{{ invoice.id }}</h4>
                            <p class="date">Due {{ invoice.invoiceDate }}</p>
                            <p class="name">{{ invoice.clientName }}</p>
                            <h3 class="price">{{ invoice.clientCity }}</h3>
                            <h5 [ngClass]="{
                                'paid': invoice.status === 'Paid',
                                'pending': invoice.status === 'Pending',
                                'draft': invoice.status === 'Draft'
                            }">
                                {{ invoice.status | prependDot }}
                        </h5>
                            <img src="../../../assets/icon-arrow-right.svg" 
                                alt="arrow-right" 
                                class="icon-right"
                                (click)="navigateToInvoiceDetails( invoice.id )"
                                >
                        </div>
                }
            }
            @else {
                <div class="no-invoice">
                    <img src="../../../assets/illustration-empty.svg" class="illustration-empty" alt="empty">
                    <h3 class="nothing-here">There is nothing here</h3>
                    <h3 class="create-invoice-text">Create an invoice by checking the New Invoice button and get started</h3>
                </div>
            }
        </div>


    </div>
    
</section>
