<section class="invoice-list-container">

    <sidebar></sidebar>

    <div class="content">
        <header class="header">
            <div class="invoice-status">
                <h3>Invoices</h3>
                <p>No invoices</p>
            </div>

            <article class="select-options-article">
                <div class="select-options">
                    <select>
                        <option value="0">Draft</option>
                        <option value="1">Pending</option>
                        <option value="2">Paid</option>
                    </select>
                </div>

                <div class="new-invoice-button">
                    <div class="btn-icon-plus-div">
                        <img src="../../../assets/icon-plus.svg" alt="icon-plus" class="btn-icon-plus">
                    </div>
                    <h4 class="invoice-title">Invoice</h4>
                </div>
            </article>
        </header>


        @if( showInvoices ) {
            <div class="display-invoices">
                <div class="invoice-card">
                    <p class="invoice-id">#RT3080</p>
                    <p class="date">Due 19 Aug 2021</p>
                    <p class="name">Jensen Huang</p>
                    <p class="price">1, 800.90</p>
                    <p class="status">Paid</p>
                    <img src="../../../assets/icon-arrow-right.svg" alt="arrow-right" class="icon-right">
                </div>

                <div class="invoice-card">
                    <p class="invoice-id">#RT3080</p>
                    <p class="date">Due 19 Aug 2021</p>
                    <p class="name">Jensen Huang</p>
                    <p class="price">1, 800.90</p>
                    <p class="status">Paid</p>
                    <img src="../../../assets/icon-arrow-right.svg" alt="arrow-right" class="icon-right">
                </div>

            </div>
        }
        @else {
            <div class="no-invoice">
                <img src="../../../assets/illustration-empty.svg" class="illustration-empty" alt="empty">
                <h3 class="nothing-here">There is nothing here</h3>
                <h3 class="create-invoice-text">Create an invoice by checking the New Invoice button and get started</h3>
            </div>
        }

    </div>
    
</section>
