<section class="invoice-details-container">
    <sidebar></sidebar>

    <div class="inv-details-content">
        <main class="main-content">
            <div class="go-back">
                <img src="../../../assets/icon-arrow-left.svg" alt="go-back-icon" class="go-back-icon">
                <h3 class="go-back-txt">Go back</h3>
            </div>

            <div class="target-invoice-card">
                <div class="status-type">
                    <p class="status-text">Status</p>
                    <p class="current-status">Pending</p>
                </div>

                <div class="action-btns">
                    <div class="edit">Edit</div>
                    <div class="delete">Delete</div>
                    <div class="mark-as-paid">Mark as Paid</div>
                </div>
            </div>

            <div class="target-invoice-details">
                <div class="invoice-intro">
                    <div class="invoice-id-and-name">
                        <h3>#XM9141</h3>
                        <p>Graphic Design</p>
                    </div>

                    <div class="invoice-location">
                        <p>Union Terrace</p>
                        <p>London</p>
                        <p>EL3EZ</p>
                        <p>United Kingdom</p>
                    </div>
                </div>

                <div class="billing-info">
                    <div class="billing-dates">
                        <div class="invoice-date">
                            <p>Invoice Date</p>
                            <h3>21 Aug 2021</h3>
                        </div>

                        <div class="payment-date">
                            <p>Payment Date</p>
                            <h3>20 Sep 2021</h3>
                        </div>
                    </div>

                    <div class="bill-to">
                        <p>Bill To</p>
                        <h3>Alex Grim</h3>
                        <p>84 Church Way</p>
                        <p>Bradford</p>
                        <p>BDI 9PB</p>
                        <p>United Kingdom</p>
                    </div>

                    <div class="Sent to">
                        <p>Sent to</p>
                        <h3>alexgrim&#64;gmail.com</h3>
                    </div>
                </div>

                <div class="item-display-table">
                    <div class="table-header">
                        <p>Item Name</p>
                        <p>QTY.</p>
                        <p>Price</p>
                        <p>Total</p>
                    </div>

                    <div class="table-row">
                        <h3>Email Design</h3>
                        <p>1</p>
                        <p>$ 200.00</p>
                        <h3>$ 200.00</h3>
                    </div>

                    <div class="table-row">
                        <h3>Email Design</h3>
                        <p>1</p>
                        <p>$ 200.00</p>
                        <h3>$ 200.00</h3>
                    </div>
                </div>


                <div class="amount-payable">
                    <p>Amount Due</p>
                    <h3>$235.00</h3>
                </div>

                



            </div>



        </main>
    </div>

</section>