<section class="invoice-details-container">
    <sidebar></sidebar>

    <div class="inv-details-content">
        <main class="main-content">
            <div class="go-back" (click)="goBackNavigation()">
                <img src="../../../assets/icon-arrow-left.svg" alt="go-back-icon" class="go-back-icon">
                <h3 class="go-back-txt">Go back</h3>
            </div>

            <div class="target-invoice-card">
                <div class="status-type">
                    <p class="status-text">Status</p>
                    <p class="current-status">{{ selectedInvoice?.status }}</p>
                </div>

                <div class="action-btns">
                    <div class="edit" (click)="navigateToEditInvoice( selectedInvoice!.id )">Edit</div>
                    <div class="delete">Delete</div>
                    <div class="mark-as-paid">Mark as Paid</div>
                </div>
            </div>

            <div class="target-invoice-details">
                <div class="invoice-intro">
                    <div class="invoice-id-and-name">
                        <h3>{{ selectedInvoice?.id }}</h3>
                        <p>{{ selectedInvoice?.invoicePurpose }}</p>
                    </div>

                    <div class="invoice-location">
                        <p>{{ selectedInvoice?.clientCompany }}</p>
                        <p>{{ selectedInvoice?.clientStreetName }}</p>
                        <p>{{ selectedInvoice?.clientStreetNumber }}</p>
                        <p>{{ selectedInvoice?.clientCountry }}</p>
                    </div>
                </div>

                <div class="billing-info">
                    <div class="billing-dates">
                        <div class="invoice-date">
                            <p>Invoice Date</p>
                            <h3>{{ selectedInvoice?.invoiceDate }}</h3>
                        </div>

                        <div class="payment-date">
                            <p>Payment Date</p>
                            <h3>{{ selectedInvoice?.paymentDate }}</h3>
                        </div>
                    </div>

                    <div class="bill-to">
                        <p>Bill To</p>
                        <h3>{{ selectedInvoice?.clientName }}</h3>
                        <p>{{ selectedInvoice?.clientCompany }}</p>
                        <p>{{ selectedInvoice?.clientStreetName }}</p>
                        <p>{{ selectedInvoice?.clientStreetNumber }}</p>
                        <p>{{ selectedInvoice?.clientCountry }}</p>
                    </div>

                    <div class="Sent to">
                        <p>Sent to</p>
                        <h3>{{ selectedInvoice?.clientEmail }}</h3>
                    </div>
                </div>

                <div class="item-display-table">
                    <div class="table-header">
                        <p>Item Name</p>
                        <p>QTY.</p>
                        <p>Price</p>
                        <p>Total</p>
                    </div>

                    @for( invoice of selectedInvoice?.items; track invoice.itemName ) {
                        <div class="table-row">
                            <h3>{{ invoice.itemName }}</h3>
                            <p>{{ invoice.quantity }}</p>
                            <p>{{ invoice.price | currency:'GBP':'symbol':'1.2-2' }}</p>
                            <h3>{{ (invoice.price * invoice.quantity) | currency:'GBP':'symbol':'1.2-2' }} </h3>
                        </div>
                    }
                    @empty {
                        <p>There are no items to display</p>
                    }
                </div>

                @if( selectedInvoice ) {
                    <div class="amount-payable">
                        <p>Amount Due</p>
                        <h3>{{ invoicesGrandTotal | currency:'GBP':'symbol':'1.2-2'}}</h3>
                    </div>
                }
                @else {
                    <div>{{ null }}</div>
                }
            </div>



        </main>
    </div>

</section>